///////////////////////////////
//CONTEXT MENU
///////////////////////////////
ul.contextMenu {
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 99999;
  color: #333;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr max-content;
  background-color: var(--color-grey-light-1);

  * {
    background-color: var(--color-grey-light-1);
    transition: color 0.4s, background-color 0.4s;
  }

  &__copy {
    // align-content: center;
    color: var(--color-primary);
    grid-column: 1/-1;
    font-size: 1.2rem;
    align-self: start;
    justify-self: center;
    grid-row: 2/3;
  }

  li {
    overflow: hidden;
    white-space: nowrap;
    grid-column: 1/-1;
    grid-row: 1/2;
    padding: 5px 1px;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &:hover {
      background-color: #333;
      a {
        background-color: #333;
        color: var(--color-grey-light-1);
      }
    }
    a {
      color: #333;
      text-decoration: none;
      justify-self: center;
      font-size: 20px;
      &.icon {
        &-gh:hover {
          color: rgb(144, 57, 161);
        }
        &-cp:hover {
          color: #000;
        }
        &-li:hover {
          color: #0077b5;
        }
        &-twit:hover {
          color: #00aced;
        }
      }
    }
  }
}

ul.hidden.contextMenu {
  display: none;
}

/////////////////////////////
//SIDE NAV
.side-nav {
  position: relative;
  z-index: 9999;
  grid-column: 1/-1;
  grid-row: 1/2;
  height: 60px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 40px;
  grid-template-rows: 60px minmax(150px, 10vh);
  grid-column-gap: 1vw;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  @media only screen and (min-width: 480px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px;
  }
  &__subMenu {
    position: relative;
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: rgba(15, 27, 63, 0.9);
    transition: all 0.1s;
    color: var(--color-grey-light-1);
    transform: scaleY(0);
    z-index: -999;
    &--container {
      position: relative;
      z-index: -999;
      padding-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      justify-items: center;
      align-items: center;
      ul {
        grid-row: 1/2;
        grid-column: 1/-1;
        color: #fff;
        list-style: none;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        position: relative;
        & > .side-nav__subMenu--container-icons {
          grid-column: 1/-1;
          padding: 5px;
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          width: 100vw;
          cursor: pointer;
          justify-items: center;
          position: relative;
          z-index: 10;
          background-color: rgba(0, 0, 0, 0.507);
          & > i {
            align-self: space-around;
            justify-self: space-around;
          }
        }
        li.line {
          grid-column: 1/-1;
          grid-row: 4/4;
          z-index: -10;
          width: 100vw;
          border-bottom: 1px solid white;
        }
      }
    }
  }
  &__link,
  &__link:link,
  &__link:visited,
  &__link>* {
  
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    font-size: 1.5rem;
    display: grid;
    position: relative;
    justify-content: center;
    align-content: stretch;
    transition: color 1s;
    
  }

  &__link:hover,
  &__link:active  {
    &>*{
    color: var(--color-primary);
    &.close::after,
    &.close::before {
      background-color: var(--color-primary);
    }
  }
  }
  &__item--active > .side-nav__link,
 {
    color: var(--color-primary-light);
    &>*{
      color: var(--color-primary-light);
    }
}

  &__item {
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    display: grid;
    
    
    &.milestones,
    &.other{
      display: none;
    }
    &.projects{
      grid-column: 2/3;
    }
    &.more-dots{
      grid-column: 3/4;
    }
    @media only screen and (min-width: 480px) {
      &:not(:last-of-type){
        display: grid;
      }
      &:last-of-type{
        display: none;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-grey-light-3);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s, -webkit-transform 0.2s;
      transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s, -webkit-transform 0.2s;
      transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
      transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s, -webkit-transform 0.2s;
    }

    &:hover::before,
    &--active::before,
    &--active {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      width: 100%;
    }
    &--active::before,
    &--active {
      background-color: var(--color-grey-light-1);
    }
  }
  &__icon {
    z-index: 1;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
  }
}

.more-dots {
  cursor: pointer;
  @media only screen and (min-width: 480px) {
    display: none;
  }
}
.close:before,
.close:after {
  pointer-events: none;
  align-self: center;
  justify-self: center;
  position: absolute;
  content: " ";
  height: 26px;
  width: 4px;
  z-index: 0;
  background-color: var(--color-primary);
  transition: all 1s;
}
.close::before {
  transform: rotate(90deg);
}
.close::after {
  transform: rotate(-90deg);
}
.open {
  background-color: var(--color-grey-light-1);
}
.open::before,
.open::after {
  pointer-events: none;
  display: block;
  align-self: center;
  justify-self: center;
  transition: all 0.5s;
  height: 36px;
  background-color: var(--color-primary);
}
.open::before {
  transform: rotate(45deg);
}
.open::after {
  transform: rotate(-45deg);
}

.sidebar {
  justify-content: space-around;
  grid-row: 4/5;
  grid-column: 1/-1;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
  background-color: var(--color-primary);
  position: relative;
  z-index: 999;
  @media only screen and (min-width: 480px) {
    grid-template-rows: 80px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary-light);
}

/////////////////////////////
//LANDING PAGE

.landingPage {
  z-index: 50;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(15, 27, 63, 0.2),
      rgba(15, 27, 63, 0.8),
      rgba(15, 27, 63, 0.8),
      rgba(15, 27, 63, 1),
      rgba(15, 27, 63, 1)
    ),
    url(../img/laptopbg-min.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  grid-column: 1 / -1;
  height: 80vh;
  min-height: 400px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  & > .title {
    background-color: rgba(134, 134, 134, 0.212);
    background-size: cover;
    padding: 2rem;
    color: #ccc;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    z-index: 999;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  .downloadCV {
    grid-column: 1/-1;
    align-self: start;
    justify-self: center;
    position: relative;
    padding: 10px;
    border: 0;
    background-color: transparent;
    color: white;
    text-align: center;
    transform: translateY(-50%);
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    border: 2px solid transparent;

    cursor: pointer;
    &::after {
      content: "";
      top: 0;
      left: 0;
      z-index: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      border: 2px solid var(--color-grey-light-1);
      transform: skew(-20deg);
      transition: background-color 0.5s ease-in, border 0.3s ease-in-out,
        color 0.3s ease-in-out;
    }
    &:hover {
      color: var(--color-primary-light);
      &::after {
        border: 22px solid var(--color-grey-light-1);
        z-index: -1;
        background-color: var(--color-grey-light-1);
      }
    }
    &:active {
      color: var(--color-primary-light);
      &::after {
        z-index: -1;
        background-color: var(--color-grey-light-1);
        border: 2px outset var(--color-grey-light-3);
      }
    }
  }
  & > .icons {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-content: start;
    padding-top: 3px;
    max-height: 40px;
    background: linear-gradient(
      to bottom,
      rgba(83, 83, 83, 0.6),
      rgba(83, 83, 83, 0.4),
      rgba(83, 83, 83, 0.4),
      rgba(83, 83, 83, 0.3),
      rgba(83, 83, 83, 0.2),
      rgba(83, 83, 83, 0)
    );
    & > .animatedIcon-0,
    & > .animatedIcon-1,
    & > .animatedIcon-2,
    & > .animatedIcon-3 {
      opacity: 0;
    }
    & > div > i {
      justify-self: center;
      font-size: 3rem;
      padding-top: 1rem;
      color: var(--color-grey-light-1);
      transition: all 0.3s;
      cursor: pointer;
      @media only screen and (min-width: 480px) {
        font-size: 4rem;
      }
      &.icon {
        &-gh:hover {
          color: rgb(144, 57, 161);
        }
        &-cp:hover {
          color: #000;
        }
        &-li:hover {
          color: #0077b5;
        }
        &-twit:hover {
          color: #00aced;
        }
      }
    }
  }
}
/////////////////////////////
//TIMELINE
/////////////////////////////

/// STYLING
.timeline {
  background-image: linear-gradient(
      to bottom,
      rgba(15, 27, 63, 0.2),
      rgba(15, 27, 63, 0.8),
      rgba(15, 27, 63, 0.8),
      rgba(15, 27, 63, 1),
      rgba(15, 27, 63, 1)
    ),
    url(../img/micro-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 10rem;
  &-heading {
    color: var(--color-grey-light-1);
  }
  ul {
    li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 5rem;
      background: #ffee00;
      &:first-of-type {
        margin-top: 5rem;
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        border-radius: 100px;
        z-index: 2;
        background: #f0eeee;
      }
      &:last-of-type {
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 30px;
          height: 30px;
          border-radius: 100px;
          z-index: 2;
          background: #f0eeee;
        }
      }
      div {
        position: relative;
        width: 40rem;
        background: var(--color-grey-light-2);
        box-shadow: 0px 0px 10px 0px var(--color-grey-dark-3);
        border-radius: 0px;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        h2 {
          padding-top: 2.5rem;
        }
        time {
          text-transform: uppercase;
          color: #fff;
          position: absolute;
          background: #333;
          width: 11rem;
          height: 3rem;
          top: -1.5rem;
          border-radius: 5px;
          display: grid;
          justify-content: center;
          align-items: center;
          letter-spacing: 1px;
        }
        .highlight {
          grid-column: 1/-1;
          display: grid;
          width: 100%;
          padding: 1rem;

          p {
            text-align: center;
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 2.2rem;
          }
        }
      }
      &:nth-of-type(odd) {
        > div {
          left: 45px;
        }
      }
      &:nth-of-type(even) {
        > div {
          left: -439px;
        }
      }
    }
  }
}
// ANIMATION
.timeline {
  overflow: hidden;
  ul {
    li {
      div {
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease-in;
      }
      &:nth-of-type(odd) {
        div {
          transform: translate3d(100px, 50px, 0) rotate(30deg);
        }
      }
      &:nth-of-type(even) {
        div {
          transform: translate3d(-100px, 50px, 0) rotate(30deg);
        }
      }
      &.in-view {
        div {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .timeline {
    ul {
      li {
        div {
          width: 40vw;
          div {
            width: 95%;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -45vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .timeline {
    ul {
      li {
        margin-left: 18px;
        div {
          width: 70vw;
        }
        &:nth-of-type(even) {
          > div {
            left: 45px;
          }
        }
      }
    }
  }
}
